{{ define "partials/buildinfo" }}
    <p style="font-size: 12px;{{if eq ._Service.ENV "prod"}}display: none;{{end}}">
        {{if ne ._Service.BuildInfo.CiCommitTag ""}}
            Tag: {{ ._Service.BuildInfo.CiCommitRefName }}@{{ ._Service.BuildInfo.CiCommitSha }}<br/>
        {{else}}
            Branch: {{ ._Service.BuildInfo.CiCommitRefName }}@{{ ._Service.BuildInfo.CiCommitSha }}<br/>
        {{end}}
        {{if ne ._Service.ENV "prod"}}
            Commit: {{ ._Service.BuildInfo.CiCommitTitle }}
            {{if ne ._Service.BuildInfo.CiJobId ""}}
                Job: <a href="{{ ._Service.BuildInfo.CiJobUrl }}" target="_blank">{{ ._Service.BuildInfo.CiJobId }}</a>
            {{end}}
            {{if ne ._Service.BuildInfo.CiPipelineId ""}}
                Pipeline: <a href="{{ ._Service.BuildInfo.CiPipelineUrl }}" target="_blank">{{ ._Service.BuildInfo.CiPipelineId }}</a>
            {{end}}
        {{end}}
    </p>
{{end}}