# Variables to configure Postgres for database migration.
export TRUSS_DB_HOST=127.0.0.1:5433
export TRUSS_DB_USER=postgres
export TRUSS_DB_PASS=postgres
export TRUSS_DB_DISABLE_TLS=true


# Variables to configure service build and deploy.
# export PROJECT_NAME=example-project

# Variables to configure AWS for service build and deploy.
# Use the same set for AWS credentials for all target envinments.
#AWS_ACCESS_KEY_ID=XXXXXXXXXXXXXX
#AWS_SECRET_ACCESS_KEY=XXXXXXXXXXXXXX
#AWS_REGION=us-west-2
#AWS_REPOSITORY_NAME=example-project
#AWS_REPOSITORY_MAX_IMAGES=1000


# AWS credentials can be prefixed with the target uppercased target envinments.
# This allows credentials unique accounts to be used for each target envinments.
# Default target envinments are: DEV, STAGE, PROD
#DEV_AWS_ACCESS_KEY_ID=XXXXXXXXXXXXXX
#DEV_AWS_SECRET_ACCESS_KEY=XXXXXXXXXXXXXX
#DEV_AWS_REGION=us-west-2
#DEV_AWS_REPOSITORY_NAME=example-project
#DEV_AWS_REPOSITORY_MAX_IMAGES=1000

# GitLab CI/CD environment variables. These are set by the GitLab when the build
# pipeline is running. These can be optional set for testing/debugging locally.
#CI_REGISTRY_IMAGE="registry.example.com/gitlab-org/gitlab-ce"
#CI_COMMIT_REF_NAME=master
