{{define "title"}}API{{end}}
{{define "style"}}

{{end}}
{{ define "content" }}
    <div class="container" id="page-content">


        <h1 class="h1 mt-5 mb-3 text-dark">API</h1>



    </div>
{{end}}
{{define "js"}}
    <script>
        $(document).ready(function() {

        });
    </script>
{{end}}

