{{define "title"}}Terms of Service{{end}}
{{define "style"}}

{{end}}
{{ define "content" }}
    <div class="container" id="page-content">



    </div>
{{end}}
{{define "js"}}
    <script>
        $(document).ready(function() {

        });
    </script>
{{end}}

